.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-holder {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.profile-holder > nav {
    position: absolute;
    top: 0;
    left: 0;
}